<div {{ attributes }}>

    <p> Live prop: {{ num }}  </p>

    <button {{ live_action('up') }}>
        UP
    </button>

    <button {{ live_action('down') }}>
        DOWN
    </button>

    <button {{ live_action('reset') }}>
        RESET
    </button>
</div>